@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #675AFE ;
}

.wrapper{
    background-color: #fff;
    padding: 30px;
    border-radius: 7px;
    
    width: 370px;
}

.form{
    margin: 2rem 0 2rem 0;
}

form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.drop-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.drop-list i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;

}

.select-wrapper img{
    max-width: 1.75rem;
}

.select-wrapper select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: #675AFE;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}